{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'moj.css' %}">
</head>
<body>
<p>Tu jest lista filmow użytkownika {{user}}</p>

    <h3>{{text}}</h3>

    <a href="{% url 'nowy_film' %}">Nowy film</a>

    <div>
        {% for film in filmy %}
            <h2>{{film.name}}</h2>
            <p>{{film.description}}</p>
            <a href="{% url 'edytuj_film' film.id %}">Edytuj</a>
            <a href="{% url 'usun_film' film.id %}">Usuń</a>



        {% endfor %}
    </div>




</body>
</html>
